
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <app-logo></app-logo>
          <h2>Welcome to Ionic 5</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt explicabo quia officia,
             tempore eveniet obcaecati voluptate culpa commodi dolorum corporis provident 
             cupiditate earum rerum libero ea at iste. Sit, perferendis?</p>
        </ion-slide>
        <ion-slide>
          <h2>Slide 2</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </ion-slide>
        <ion-slide>
          <h2>Slide 3</h2>
           <p>Lorem obcaecati voluptate culpa commodi dolorum corporis adipisicing elit.</p>
        </ion-slide>
      </ion-slides>
       <!-- <ion-button expand="block" color="warning" (click)="navigateToLoginPage()">Start</ion-button> -->
